/* Mobile*/

/* font-family: 'IBM Plex Sans', sans-serif; */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    height: 44px;
}

.menu input{
    display: none;
}

.menu label span{
    display: block;
    opacity: 1;
    width: 18px;
    height: 2px;
    background: #000;
    margin-top: 3px;
    transition: 0.25s;
}


.top{
    transform-origin: 15% 0%;
}
.mid{
    transition-delay: 0.25s;
}
.bottom{
    transform-origin: 15% 100%;
}

.menu input:checked ~ label .top{
    transform: rotate(45deg) scaleX(1.14);
}
.menu input:checked ~ label .mid{
    opacity:0;
}
.menu input:checked ~ label .bottom{
    transform: rotate(-45deg) scaleX(1.14);
}

.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    overflow-x: hidden;
    top: 44px;
    right: 0;
    width: 0%;
    background: #0000EC ;
    list-style: none;
    height: 224px;
    transition:0.3s ease-out;
}

.menu ul li a{
    color:#fff;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 16px;
}
.menu ul li a:hover{
    font-size: 16px;
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
}
.menu ul li a:active{
    font-size: 16px;
    color: rgba(6,10,36,0.56);
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
}
.menu input:checked ~ ul{
    width: 100%;
}
header{
    width: 100%;
    padding: 0 16px;
}
header h1{
    margin-top: 29px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-right: 50px;
    font-size: 36px;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
header p{
    margin-top: 16px;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}
header a{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 36px;
    margin-bottom: 24px;
    background: #00F3BB;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}
header a:hover{
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color:#fff;
}
.world{
    text-decoration: line-through;
}
.episodios{
    height: 911.5px;
    background:linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(100% 0, 100% 96%, 0 100%, 0 4%);   
    padding:64px 16px 0 16px;
}
.episodios h2{
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 300;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 21px;
}
.podcast iframe{
    margin-bottom:8px ;
    width: 100%;
    height: 152px;
}
.nosotros{
    position: relative;
    top:-95.5px;
    display: flex;
    flex-direction: column;

}
.venimos{
    margin: 0 16px;
}
.venimos h2{
    margin-top: 27px;
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
.venimos p{
    margin-top: 8px;
    font-size: 14px;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0;
    line-height: 22px;
}
.invitados{
    position: relative;
    top: -41.5px;

}
.invitados h2{
    margin: 0 16px 14px 16px;
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
.photo_container{
    display: flex;
    flex-wrap: wrap;
}
.temas{
    margin: 6.5px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temas h2{
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}
.themes_container{
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}
.theme img{
    width: 104px;
    padding: 13px 0;
}
.theme h4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 288px;
    color: #060A24;
    text-align: center;
}
footer .container{
    height: 341px;
    background:linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%); 
    padding:64px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    
}
footer .container a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    height: 48px;
    width: 100%;
    background: #00F3BB;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;;
    text-transform: uppercase;
    text-decoration: none;
}
.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 31px;
}
.datos p{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 16px;
}
.icons a{
    margin-right: 34px;
    text-decoration: none;
    color: #060A24;
}
.icons a:last-child{
    margin-right: 0;
}
/* Tablet */
@media screen and (min-width:360px){
    
}
/* Desktop */
@media screen and (min-width:1000px){
    nav{
        margin:0 100px;
        height: 80px;
    }
    nav img{
        width: 36px;
        height: 36px;
    }
    .menu label span{
        display: none;
    }
    .menu ul{
        flex-direction: row;
        position: initial;

        background-color: #fff;
        height: auto;
        width: auto;
    }
    .menu ul li a{
        color:#060A24;
        line-height:28px;
        margin-left: 48px;
    }
    header{
        padding:0 0;
        padding-left: 200px;
    }
    header h1{
        margin-top: 120px;
        font-size: 64px;
    }
    header .puntito{
        color: #0000EC;
    }
    header p{
        width: 628px;
    }
    header a{
        margin-top: 56px;
        width: 226px;
        height: 56px;
        font-size: 18px;
    }
    .episodios{
        height: 1042.6px;
        clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);   
        padding: 186px 100px 0 100px;
    }
    .episodios h2{
        margin-left: 100px;
        margin-bottom: 26px;
    }
    .podcast{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .podcast iframe {
        width: 45%;
        height: 232px;
    }
    .podcast iframe:nth-child(odd){
        margin-right: 36px;

    }
    .podcast iframe:nth-child(even){
        margin-left: 36px;
    }
    .podcast iframe:last-child{
        margin-top: 72px;
    }
    .nosotros{
        flex-direction: row;
        top: -156px;
        justify-content: center;
    }
    .nosotros img{
        
        width: 457.6px;
    }
    .venimos{
        padding-top: 189px;
    }
    .venimos h2{
        margin-bottom: 24px;
        font-size: 48px;
        line-height: 62px;
    }
    .venimos p{
        width: 464px;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .invitados h2{
        margin-left: 200px;
        font-size: 48px;
    }
    .photo_container{
        width: 100%;
    }
    .invitados img{
        width: 33.3%;
    }
    .temas{
        align-items:flex-start;
    }
    .temas h2{
        font-size: 48px;
        line-height: 62px;
        margin-left: 200px;
    }
    .themes_container{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 34px;
    }
    .theme img{
        width: 104px;
        margin: 26px 156px;
    }
    footer .container{
    
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 25%); 
        padding: 213px 16px 0 16px;
        height: 518px;
    }
    footer .container h2{
        margin-top: 36px;
        font-size: 48px;
    }
    footer .container a{
        width: 345px;
        height: 56px;
        font-size: 18px;
    }
    footer .datos{
        flex-direction: row;
        justify-content: space-between;
        margin: 0 100px;
        height: 80px;
    }
}
